Checks: [
    performance*,
    modernize*,
    readability*,
    concurrency*,
    clang-analyzer*,
    hicpp*,
    cert*,
    google*,
    bugprone*,
    portability*,
    cppcoreguidelines*,
    clang-diagnostic*
  ]
ExtraArgsBefore:
  [
    -xc++,
    -stdlib=libstdc++,
    -std=c++latest,
    -std=c++2b,
    -std=c++23,
    -std=gnu++2b
    -stdlib=libc++
    -I/usr/local/include/,
    -I/usr/include/c++/13,
    -I/usr/include/c++/14,
    -I/usr/local/include,
    -Wno-unknown-warning-option,
    -Wall,
  ]

WarningsAsErrors: "*"
HeaderFileExtensions: ["", "h", "hh", "hpp", "hxx"]
ImplementationFileExtensions: ["c", "cc", "cpp", "cxx"]
HeaderFilterRegex: "^(?!.*toml\\.hpp).*$"
FormatStyle: Google
InheritParentConfig: true
User: neudinger
UseColor: true
SystemHeaders: false
CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
